{
  "name": "{{name}}",
  "short_name": "{{short_name}}",
  "start_url": "{{start_url}}",
  "display": "{{display}}",
  "theme_color": "{{theme_color}}",
  "background_color": "{{background_color}}"{{{icons_json}}}
}
